/* Column with borders style */
.wp-block-columns.is-style-column-museu-boulieu .wp-block-column:not(:first-child) {
    padding-left: 2em;
    border-left-width: 1px;
    border-left-style: solid;
}
.wp-block-columns.is-style-column-museu-boulieu:not(.has-text-color) .wp-block-column:not(:first-child) {
    border-left-color: var(--boulieu-gray-2, #272525);
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-1-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor1) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-2-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor2) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-3-color  .wp-block-column:not(:first-child){
    border-left-color: var(--paletteColor3) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-4-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor4) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-5-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor5) !important;
}

/* Group with borders style */
.wp-block-group.is-style-group-museu-boulieu {
    padding: 20px;
    border-width: 1px;
    border-style: solid;
}
.wp-block-group.is-style-group-museu-boulieu:not(.has-text-color) {
    border-color: var(--boulieu-gray-2, #272525);
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-1-color {
    border-color: var(--paletteColor1) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-2-color {
    border-color: var(--paletteColor2) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-3-color {
    border-color: var(--paletteColor3) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-4-color {
    border-color: var(--paletteColor4) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-5-color {
    border-color: var(--paletteColor5) !important;
}

/* Stackable blocks */
.ugb-accordion.ugb-accordion--v2.ugb-accordion > .ugb-inner-block > .ugb-block-content > .ugb-accordion__item > .ugb-accordion__heading svg {
    fill: transparent !important;
    width: 0px;
    height: 0px;
    display: none;
    visibility: hidden;
}
.ugb-accordion.ugb-accordion--v2.ugb-accordion>.ugb-inner-block>.ugb-block-content>.ugb-accordion__item>.ugb-accordion__heading {
    margin-bottom: 0;
    transition: margin ease 0.2s;
}
.ugb-accordion.ugb-accordion--v2.ugb-accordion--open>.ugb-inner-block>.ugb-block-content>.ugb-accordion__item>.ugb-accordion__heading {
    margin-bottom: 35px;
}
.ugb-accordion.ugb-accordion--v2.ugb-accordion>.ugb-inner-block>.ugb-block-content>.ugb-accordion__item>.ugb-accordion__heading::after {
    content: "+";
    font-family: none;
    font-size: 3rem;
    font-weight: normal;
    color: var(--paletteColor5,#ffffff);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    transition: transform ease 0.2s;
    transform: rotate(0deg);
}
.ugb-accordion.ugb-accordion--v2.ugb-accordion--open>.ugb-inner-block>.ugb-block-content>.ugb-accordion__item>.ugb-accordion__heading::after {
    transform: rotate(135deg);
}

/* Home special block */
.boulieu-special-home-block {
    margin-bottom: 0px !important;
    min-height: 100vh;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
.boulieu-special-home-block .wp-block-cover__inner-container {
    transform: rotate(-90deg);
    position: relative;
    top: 200px;
    left: -64px;
    width: auto !important;
}
.boulieu-special-home-block .wp-block-cover__inner-container h1,
.boulieu-special-home-block .wp-block-cover__inner-container h2,
.boulieu-special-home-block .wp-block-cover__inner-container h3,
.boulieu-special-home-block .wp-block-cover__inner-container h4,
.boulieu-special-home-block .wp-block-cover__inner-container h5,
.boulieu-special-home-block .wp-block-cover__inner-container h6,
.boulieu-special-home-block .wp-block-cover__inner-container p {
    white-space: nowrap;
    font-family: Playfair Display, Sans-Serif;
}
.boulieu-special-home-block .wp-block-cover__inner-container h1 a:not(:hover),
.boulieu-special-home-block .wp-block-cover__inner-container h2 a:not(:hover),
.boulieu-special-home-block .wp-block-cover__inner-container h3 a:not(:hover),
.boulieu-special-home-block .wp-block-cover__inner-container h4 a:not(:hover),
.boulieu-special-home-block .wp-block-cover__inner-container h5 a:not(:hover),
.boulieu-special-home-block .wp-block-cover__inner-container h6 a:not(:hover),
.boulieu-special-home-block .wp-block-cover__inner-container p  a:not(:hover) {
    text-decoration: none !important;
}
