/* Page title on editor side */
.editor-post-title__block .editor-post-title__input {
    font-family: Playfair Display, Sans-Serif !important;
    font-size: 72px;
}

/* Column with borders style */
.wp-block-columns.is-style-column-museu-boulieu .wp-block-column:not(:first-child) {
    padding-left: 2em;
    border-left-width: 1px;
    border-left-style: solid;
}
.wp-block-columns.is-style-column-museu-boulieu:not(.has-text-color) .wp-block-column:not(:first-child) {
    border-left-color: var(--boulieu-gray-2, #272525);
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-1-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor1) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-2-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor2) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-3-color  .wp-block-column:not(:first-child){
    border-left-color: var(--paletteColor3) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-4-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor4) !important;
}
.wp-block-columns.is-style-column-museu-boulieu.has-palette-color-5-color .wp-block-column:not(:first-child) {
    border-left-color: var(--paletteColor5) !important;
}

/* Group with borders style */
.wp-block-group.is-style-group-museu-boulieu {
    padding: 20px;
    border-width: 1px;
    border-style: solid;
}
.wp-block-group.is-style-group-museu-boulieu:not(.has-text-color) {
    border-color: var(--boulieu-gray-2, #272525);
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-1-color {
    border-color: var(--paletteColor1) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-2-color {
    border-color: var(--paletteColor2) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-3-color {
    border-color: var(--paletteColor3) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-4-color {
    border-color: var(--paletteColor4) !important;
}
.wp-block-group.is-style-group-museu-boulieu.has-palette-color-5-color {
    border-color: var(--paletteColor5) !important;
}

/* GetWid blocks */
/* GetWid Accordeon blocks */
.wp-block-getwid-accordion__header{
    font-size: 3.25rem !important;
    padding: 0.25em 0.5em !important;
}
.wp-block-getwid-accordion__header-wrapper,
.wp-block-getwid-accordion__content {
    border: none !important;
}
.wp-block-group.has-background .wp-block-getwid-accordion__header-wrapper a,
.wp-block-group.has-background .wp-block-getwid-accordion__content a {
    color: white !important;
}
.wp-block-group.has-background .wp-block-getwid-accordion__header-wrapper a:hover,
.wp-block-group.has-background .wp-block-getwid-accordion__content a:hover,
.wp-block-group.has-background .wp-block-getwid-accordion__header-wrapper a:focus,
.wp-block-group.has-background .wp-block-getwid-accordion__content a:focus {
    color: white !important;
    text-decoration: underline !important;
}
.wp-block-getwid-accordion__icon,
.wp-block-getwid-accordion__icon:hover,
.wp-block-getwid-accordion__icon:focus {
    text-decoration: none;
}
.wp-block-getwid-accordion__icon .fa::before {
    font-family: "TaiancanIcons";
}
.wp-block-getwid-accordion__icon .fa-plus::before {
    content: 'plus';
}
.wp-block-getwid-accordion__icon .fa-times::before {
    content: 'close';
}

/* GetWid Carousel blocks */
.wp-block-getwid-media-text-slider {
    margin-bottom: 0;
}

.wp-block-getwid-images-slider .slick-prev::before,
.wp-block-getwid-images-slider .slick-next::before,
.wp-block-getwid-media-text-slider .slick-prev::before,
.wp-block-getwid-media-text-slider .slick-next::before,
.wp-block-getwid-post-slider .slick-prev::before,
.wp-block-getwid-post-slider .slick-next::before,
.wp-block-getwid-post-carousel .slick-prev::before,
.wp-block-getwid-post-carousel .slick-next::before {
    font-family: "TainacanIcons";
    font-size: 40px;
}
.wp-block-getwid-images-slider .slick-prev::before,
.wp-block-getwid-media-text-slider .slick-prev::before,
.wp-block-getwid-post-slider .slick-prev::before,
.wp-block-getwid-post-carousel .slick-prev::before {
    content: 'previous';
}
.wp-block-getwid-images-slider .slick-next::before,
.wp-block-getwid-media-text-slider .slick-next::before,
.wp-block-getwid-post-slider .slick-next::before,
.wp-block-getwid-post-carousel .slick-next::before {
    content: 'previous';
}


/* Home special block */
.boulieu-special-home-block {
    margin-bottom: 0px !important;
    min-height: 100vh;
    background-position: center;
    background-size: auto 100vh !important;
    background-repeat: no-repeat;
}
.boulieu-special-home-block .wp-block-cover__inner-container {
    transform: rotate(-90deg);
    position: relative;
    top: 200px;
    left: -64px;
    width: auto !important;
}
.boulieu-special-home-block .wp-block-cover__inner-container h1,
.boulieu-special-home-block .wp-block-cover__inner-container h2,
.boulieu-special-home-block .wp-block-cover__inner-container h3,
.boulieu-special-home-block .wp-block-cover__inner-container h4,
.boulieu-special-home-block .wp-block-cover__inner-container h5,
.boulieu-special-home-block .wp-block-cover__inner-container h6,
.boulieu-special-home-block .wp-block-cover__inner-container p {
    white-space: nowrap;
    font-family: Playfair Display, Sans-Serif;
}
.boulieu-special-home-block .wp-block-cover__inner-container h1 a,
.boulieu-special-home-block .wp-block-cover__inner-container h2 a,
.boulieu-special-home-block .wp-block-cover__inner-container h3 a,
.boulieu-special-home-block .wp-block-cover__inner-container h4 a,
.boulieu-special-home-block .wp-block-cover__inner-container h5 a,
.boulieu-special-home-block .wp-block-cover__inner-container h6 a,
.boulieu-special-home-block .wp-block-cover__inner-container p  a {
    text-decoration: none !important;
    color: inherit !important;
}
.boulieu-special-home-block .wp-block-cover__inner-container h1 a:hover,
.boulieu-special-home-block .wp-block-cover__inner-container h2 a:hover,
.boulieu-special-home-block .wp-block-cover__inner-container h3 a:hover,
.boulieu-special-home-block .wp-block-cover__inner-container h4 a:hover,
.boulieu-special-home-block .wp-block-cover__inner-container h5 a:hover,
.boulieu-special-home-block .wp-block-cover__inner-container h6 a:hover,
.boulieu-special-home-block .wp-block-cover__inner-container p  a:hover {
    text-decoration: underline !important;
    color: inherit !important;
}